.container {display: flex;
            justify-content: space-evenly;}
.box{width: 60px;
     height: 60px;
    background-color: lightpink;
    color: white;
    text-align: center;
    margin: 13px;}