.bhoomika {display: flex;
            flex-direction: row;
            background-color: lightblue;
            border: 2px solid pink;
            justify-content: center;}
.box { padding: 25px 70px;
      background-color: beige;
      border: 2px solid lightpink;
      border-radius: 10px;
      margin: 30px;
      box-shadow: 0px 5px 9px;} 

.br {display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 10px;
      margin-left: 22px;
      background-color: lightcoral;
      border: 2px solid lightblue;
      font-size: 20px;
      font-weight: bold;
      color: white;}
.card {margin-left: 15px;}
