body{
    font-family: Aerial sans-serif;
    background-color: rgb(157, 157, 153);
    margin: 20px;
    
}
/*heading style*/
h1 {
    color: rgb(1, 1, 1);
    text-align : center;
}
h2 {
    color: rgb(10, 10, 10);
    text-align: center;
}
/*product Box style*/
.bhoomika {
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    margin: 0 auto;
    background-color: lightgray;
    align-self: center;
    width:500px;
    height: 650px;
    border-radius: 8px;  /*rounded corners*/
}
/*product image styling*/
.image {
    border-radius: 5px;
   align-self: center;
    height: 450px;
    width: 400px;
}


