body { font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background: lightcoral;}
h1 { text-align: center;
padding: 20px;
color: black;}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;}
.product-card {
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    text-align: center;}
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px lightgreen;}
.product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;}
.product-card h1 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: lightgrey;}
.product-card p{
    font-size: 14px;
    color: black;}
.price{ font-size: 18px;
        color:aqua;
        font-weight: bold;
        margin: 10px 0;}
.btn {display: inline-block;
      padding: 10px;
      margin-top: 10px;
      background: blue;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;}
.btn:hover{background: #0056b3;}
@media (max-width: 600px) {
    .product-card img{ height: 150px;}
    .product-card h1 {font-size: 16px;}
    .product-card p {font-size: 12px;}}
@media (max-width: 1024px) (min-width: 601px)
        {.product-card img {height: 180px;}
        .product-card h1 {font-size: 12px;}}