/* reset */
*{margin: 0;
 padding: 0;}
 .navbar {display: flex;
         justify-content: space-between;
        align-items: center;
        background-color: lightcoral;
        color: white;
        padding: 15px 20px;}
.logo {font-size: 1.5rem;
       font-weight: bold;}
.nav-links {
    display: flex;

}