.wrapper {display: grid;
        grid-template-columns: 200px 200px 200px;}
*{box-sizing: border-box;}
.wrapper{border: 2px solid lightpink;
        border-radius: 5px;
        background-color: lightblue;}
.wrapper >div {
        border: 2px solid lightcyan;
        border-radius:  5px;
        background-color: beige;}