.container      { 
            display: flex;
            background-color: lightblue;
            border: 2px solid pink;} 
.box {background-color: beige;
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 5px;}
.box1 { background-color: plum;}
.box2 { background-color: palegreen;}
.box3 { background-color: lightpink;}
.box4 { background-color: lightgreen;}
.box5 { background-color: lightcoral;}